<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>TODO сделать динамический тайтл</title>
		<%= stylesheet_link_tag    "main", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body><%=image_tag "ldr.gif", :id=>"ldrbig", :class=>"hide loader"-%>
		<div class="couter">
			<div class="cinner">
				<div class="langs"></div>
				<div class="mainhead"></div>
				<div class="content">
					<div class="ctext">
						<%=yield%>
					</div>
				</div>
				<div class="footer"></div>
			</div>
		</div>
		
		<div class="popupbg hide"id="popupbg"></div>
		<div class="popupbg z6 hide"id="loaderbg"></div>
		<div class="adminpopup hide" id="popup">
			<div class="popup-title-area">
				<div id="popuptitle">...</div>
				<div class="popup-close" onclick="appWindowClose()"><%=image_tag "work/close.png" %></div>
			</div>
			<div class="both"></div>
			<div class="popup-content" id="appWindowPopup"></div>
		</div>
		
	</body>
</html>
