<table class="header-wr"><tr>
	<td class="logoname left w50p"><a href="javascript:alert('TODO')">
		<div class="fasttext">FAST</div>
		<div class="fastimg">
				<div class="left"><%=image_tag('xampp.png')%></div>
				<div class="left mtop1"> XAMPP </div><div class="endfloat"></div>
		</div></a>
	</td>
	<td class="logoname left w50p">

    <div style="margin-left:20px; font-size:14pt; color:#5555AA">

        <p>PHP 5.5.9 <span class="hbit note b">32 / 64 bit</span></p>
        <p>PHP 5.3.5 <span class="hbit note b">32 bit</span></p>
    </div>

</td>
	<td class="hmenu w50p">
		<table class="w100p">
			<tr>
				<td class="osu ">
					<a href="/ubuntu/<?=$currlang?>">
						<div class="osuimg h32">
								<div><%=image_tag('ubuntu48.png', width:'40')%></div>
						</div>
						<div class="osutext ubuntu m20">Ubuntu</div>
					</a>
				</td>
				
				<td class="xu ">
					<a href="/xubuntu/<?=$currlang?>">
						<div class="osxuimg h56">
								<div><%=image_tag('xubuntu48.png', width:'47')%></div>
						</div>
						<div class="osxutext xubuntu">Xubuntu</div>
					</a>
				</td>
				
				<td class="ksu ">
					<a href="/kubuntu/<?=$currlang?>">
						<div class="oskuimg h32">
								<div><%=image_tag('xubuntu48.png', width:'40')%></div>
						</div>
						<div class="oskutext kubuntu m20">Kubuntu</div>
					</a>
				</td>
				
				<td class="osmi">
					<a href="/mint/<?=$currlang?>">
						<div class="osmimg h32">
								<div><%=image_tag('mint48.png')%></div>
						</div>
						<div class="osmitext mint m20">Mint</div>
					</a>
				</td>
			</tr>
		</table>
	</td>
	</tr>
</table>
